/**
 * Buttons
 */

$btn-color-bg: $primary !default;
$btn-color-text: white !default;
$btn-font-weight: inherit !default;
$btn-font-size: 1rem !default;
$btn-padding-x: .75rem !default;
$btn-padding-y: .5rem !default;
$btn-border-color: transparent !default;
$btn-border-width: 1px !default;
$btn-border-radius: 0 !default;

$btn-color-bg-hover: darken($primary, 15%) !default;
$btn-color-text-hover: white !default;
$btn-color-hover-border: transparent !default;

$btn-sm: .75 !default;
$btn-lg: 1.25 !default;

.btn {
  display: inline-block;
  padding: $btn-padding-y $btn-padding-x;
  border: $btn-border-width solid transparent;
  background-color: $btn-color-bg;
  color: $btn-color-text;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: $line-height-base;
  cursor: pointer;
  transition: $transition-base;
  user-select: none;
  text-decoration: none;
  border-radius: $btn-border-radius;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:hover {
    background-color: $btn-color-bg-hover;
    color: $btn-color-text-hover;
    border-color: $btn-color-hover-border;
  }

  &:focus {
    outline: 0;
  }
}

// Size Variants
.btn-sm {
  font-size: $btn-font-size * $btn-sm;
  padding: ($btn-padding-y * $btn-sm) ($btn-padding-x * $btn-sm);
}
.btn-lg {
  font-size: $btn-font-size * $btn-lg;
  padding: ($btn-padding-y * $btn-lg) ($btn-padding-x * $btn-lg);
}

// Block
.btn-block {
  display: block;
  width: 100%;
}

// Outline
.btn-outline {
  border: 1px solid $btn-color-bg;
  background-color: transparent;
  color: $btn-color-bg;
  &:hover {
    border-color: $btn-color-bg;
    background-color: $btn-color-bg;
    color: $btn-color-text-hover;
  }
}

// Disabled
.btn:disabled {
  opacity: .65;
  pointer-events: none;
}

// Colors
.btn-primary {
  background-color: $primary;
  &:hover {
    background-color: darken($primary, 15%);
  }
  &.btn-outline {
    background-color: transparent;
    border-color: $primary;
    &:hover {
      background-color: darken($primary, 15%);
      border-color: darken($primary, 15%);
      color: $white;
    }
  }
  &.btn-link {
    color: $primary;
    &:hover {
      color: darken($primary, 15%);
      border-color: darken($primary, 15%);
    }
  }
}
.btn-secondary {
  background-color: $secondary;
  &:hover {
    background-color: darken($secondary, 15%);
    border-color: darken($secondary, 15%);
  }
  &.btn-outline {
    background-color: transparent;
    border-color: $secondary;
    color: $secondary;
    &:hover {
      background-color: darken($secondary, 15%);
      border-color: darken($secondary, 15%);
      color: $white;
    }
  }
  &.btn-link {
    color: $secondary;
    &:hover {
      color: darken($secondary, 15%);
    }
  }
}
.btn-success {
  background-color: $success;
  &:hover {
    background-color: darken($success, 15%);
    border-color: darken($success, 15%);
  }
  &.btn-outline {
    background-color: transparent;
    border-color: $success;
    color: $success;
    &:hover {
      background-color: darken($success, 15%);
      border-color: darken($success, 15%);
      color: $white;
    }
  }
  &.btn-link {
    color: $success;
    &:hover {
      color: darken($success, 15%);
    }
  }
}
.btn-error {
  background-color: $error;
  &:hover {
    background-color: darken($error, 15%);
    border-color: darken($error, 15%);
  }
  &.btn-outline {
    background-color: transparent;
    border-color: $error;
    color: $error;
    &:hover {
      background-color: darken($error, 15%);
      border-color: darken($error, 15%);
      color: $white;
    }
  }
  &.btn-link {
    color: $error;
    &:hover {
      color: darken($error, 15%);
    }
  }
}
.btn-white {
  background-color: $white;
  color: $black;
  &:hover {
    background-color: darken($black, 15%);
    border-color: darken($black, 15%);
    color: $white;
  }
  &.btn-outline {
    background-color: transparent;
    border-color: $white;
    color: $white;
    &:hover {
      background-color: darken($black, 15%);
      border-color: darken($black, 15%);
      color: $white;
    }
  }
  &.btn-link {
    color: $white;
    &:hover {
      color: $black;
    }
  }
}
.btn-black {
  background-color: $black;
  &:hover {
    background-color: lighten($black, 15%);
    border-color: lighten($black, 15%);
  }
  &.btn-outline {
    background-color: transparent;
    border-color: $black;
    color: $black;
    &:hover {
      background-color: lighten($black, 15%);
      border-color: lighten($black, 15%);
      color: $white;
    }
  }
  &.btn-link {
    color: $black;
    &:hover {
      color: lighten($black, 15%);
    }
  }
}

// Link
.btn-link {
  box-shadow: none;
  background: transparent;
  border-color: transparent;
  color: $primary;
  text-shadow: none;
  text-transform: none;

  &:hover,
  &:focus {
    background: transparent;
    color: black;
  }
}
