/**
 * Navbar
 */

$navbar-height-desktop: 80px;
$navbar-height-mobile: 50px;
$navbar-bg: #fafafa;
$navbar-link-color: $primary;
$navbar-hover-link-color: darken($primary, 15%);
$z-index-navbar: 1000;
$z-index-navbar-toggler: 1010;

.navbar {

  background-color: $navbar-bg;
  z-index: $z-index-navbar;

  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__brand {
    &:hover {
      text-decoration: none;
    }
  }
  &__toggler {
    display: none;
    background: none;
    border: none;
    border-radius: 0;
    &:focus {
      outline: none;
    }
  }
  &__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu-item {
    a {
      transition: $transition-base;
      color: $navbar-link-color;
      &:hover {
        color: $navbar-hover-link-color;
        text-decoration: none;
      }
    }
  }
  .current-menu-item {
    a {
      color: $navbar-hover-link-color;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    &__wrapper {
      height: $navbar-height-mobile;
    }
    &__collapse {
      transition: $transition-base;
      opacity: 0;
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      pointer-events: auto;
    }
    &__toggler {
      display: inline-block;
      position: relative;
      margin-left: auto;
      width: 40px;
      height: 32px;
      cursor: pointer;
      z-index: $z-index-navbar-toggler;
    }
    &__toggler-line {
      transition: $transition-base;
      display: block;
      position: absolute;
      top: 8px;
      left: 8px;
      background-color: black;
      height: 1px;
      width: 24px;
      &:nth-child(2) {
        top: 16px;
      }
      &:nth-child(3) {
        top: 24px;
      }
    }
    &__menu {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 100vh;
      background-color: $navbar-bg;
      padding: 2rem 0; // add some top / bottom padding in case there is more items that doesn't fit in the viewport
    }
    .menu-item {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
    body.navbar--opened & {
      &__collapse {
        visibility: visible;
        opacity: 1;
      }
      &__toggler-line {
        &:nth-child(1) {
          top: 15px;
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          top: 15px;
          transform: rotate(-45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__wrapper {
      height: $navbar-height-desktop;
    }
    &__brand {
      margin-right: auto;
    }
    &__menu {
      flex-direction: row;
    }
    .menu-item {
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}

// Prevent vertical scrollbar when navbar is opened on smaller devices

body.navbar--opened {
  overflow: hidden;
}

/**
 * Navbar Fixed
 */

.navbar.navbar--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

// Make navbar transparent when scrolling more than 100px down

.navbar.navbar--scrolled {
  transition: $transition-base;
  opacity: .25;
  &:hover {
    opacity: 1;
  }
}

// When the navbar is fixed you should also add some padding to body tag as well - most likely that should be height of the navbar

body {
  @include media-breakpoint-down(sm) {
    padding-top: $navbar-height-mobile;
  }
  @include media-breakpoint-up(md) {
    padding-top: $navbar-height-desktop;
  }
}
