<div class="carousel is-hidden" data-js="carousel">
  {% for i in 1..3 %}
  <div class="carousel-cell">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste fuga tempora, nam eligendi hic possimus quae quod officiis, aut, harum, commodi maiores repellendus. Nihil dolorem dicta fugiat at quas pariatur.
  </div>
  <div class="carousel-cell">
    Architecto laborum, autem officiis fugiat, iure quis modi nam, laudantium totam incidunt maxime sapiente omnis vitae doloribus voluptatibus ex. Vitae maiores, enim! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </div>
  {% endfor %}
</div>
