{#
  HTML: navbar.twig
  CSS: /modules/navbar/navbar.scss
  JS: /modules/navbar/navbar.js

  Functionality:

  Fixed to top:
    If navbar shouldn't be fixed, remove the class "navbar--fixed" and top padding from body {} in navbar.scss

  Transparent when scrolling:
    Navbar becomes transparent when scrolling more than 100px down
    We add class "navbar--scrolled" to the "navbar", you can tweak opacity in navbar.scss
#}

  <nav class="navbar navbar--fixed js-navbar">
    <div class="container">
      <div class="navbar__wrapper">
        <a class="navbar__brand" href="index.html">
          Logo
        </a>
        <button class="navbar__toggler js-navbar-toggler">
          <span class="navbar__toggler-line"></span>
          <span class="navbar__toggler-line"></span>
          <span class="navbar__toggler-line"></span>
        </button>

        {#
          In case you want to implement front-end in WordPress, please follow below instructions:
          Replace everything inside including <div class="navbar__collapse"></div> with the following WordPress Menu code
          <?php
            wp_nav_menu( array(
              'menu_class' => 'menu navbar__menu',
              'container_class' => 'navbar__collapse'
            ) );
          ?>
        #}

        <div class="navbar__collapse">
          <ul class="navbar__menu">
            <li class="menu-item{% if menu_active == 'sample-page' %} current-menu-item{% endif %}">
              <a href="page.html">Sample Page</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </nav>
