{#
  HTML: navbar.twig
  CSS: /modules/navbar/navbar.scss
  JS: /modules/navbar/navbar.js

  Fixed to top:
    "navbar--fixed"
    If navbar shouldn't be fixed, remove the class "navbar--fixed" and top padding from "body" in the navbar.scss

  Animations:
    Add some animations by adding the following classes to the navbar:

    "navbar--fixed-transparent"
      Navbar becomes transparent when scrolling down.

    "navbar--fixed-showhide"
      Navbar slides out of view when scrolling down and slides back in when scrolling up

    Note:
    It fires when we scroll more than 150px from to the top.
    You can change it in navbar.js
#}

  <nav class="navbar navbar--fixed navbar--fixed-transparent js-navbar">
    <div class="container">
      <div class="navbar__wrapper">
        <a class="navbar__brand" href="index.html">
          Logo
        </a>
        <button class="navbar__toggler js-navbar-toggler">
          <span class="navbar__toggler-line"></span>
          <span class="navbar__toggler-line"></span>
          <span class="navbar__toggler-line"></span>
        </button>

        {#
          In case you want to implement front-end in WordPress, please follow below instructions:
          Replace everything inside including <div class="navbar__collapse"></div> with the following WordPress Menu code
          <?php
            wp_nav_menu( array(
              'menu_class' => 'menu navbar__menu',
              'container_class' => 'navbar__collapse'
            ) );
          ?>
        #}

        <div class="navbar__collapse">
          <ul class="navbar__menu">
            <li class="menu-item{% if menu_active == 'demo-page' %} current-menu-item{% endif %}">
              <a href="page.html">Demo Page</a>
            </li>
            <li class="menu-item{% if menu_active == 'blank-page' %} current-menu-item{% endif %}">
              <a href="blank.html">Blank Page</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </nav>
