{% extends '../layouts/default.twig' %}
{% set head_title = 'Demo' %}
{% set body_class = '' %}
{% set menu_active = 'demo' %}

{% block page %}

  {% include '../components/_navbar.twig' %}

  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h1>
          Buttons
        </h1>
        <p>
          <a href="#" class="btn">Button</a>
        </p>
        <p>
          <a href="#" class="btn btn-block">Button Block</a>
        </p>
        <p>
          <a href="#" class="btn btn-outline">Button Outline</a>
        </p>
      </div>
    </div>
  </div>

  <div style="padding: 200px 0 1200px 0;text-align:center;">
    <p>
      Scroll down to see fixed navbar feature
    </p>
  </div>

  <div style="display: none;">

    Sample Twig Features

    ---

    Let's loop over item in a sequence using twig "for" function

    {% for i in 0..3 %}
      <p>For Item: {{ i }}</p>
    {% endfor %}

    ---

    Include component / partial

    {% include '../components/_demo.twig' %}

    ---

    Include component / partial with variable

    {% include '../components/_demo.twig' with {'foo': 'bar'} %}

  </div>

{% endblock %}
