{% extends '../layouts/default.twig' %}
{% set head_title = 'Sample Page' %}
{% set body_class = '' %}
{% set menu_active = 'sample-page' %}

{% block page %}

  {% include '../components/_navbar.twig' %}

  <div class="container">
    <h1>
      Hello World
    </h1>
  </div>

{% endblock %}
