{% extends '../layouts/default.twig' %}
{% set head_title = 'Sample Page' %}
{% set body_class = '' %}
{% set menu_active = 'sample-page' %}

{% block page %}

  <style>
    /* Some inline styling for the demo purpose */
    .demo {
      padding: 4rem 0;
    }
    .section {
      margin-bottom: 4rem;
      padding-bottom: 4rem;
      border-bottom: 1px solid #ccc;
    }
    .section-title {
      color: rgba(0,0,0,.65);
    }
    .section-title small {
      display: block;
    }
    pre {
      font-size: .875rem;
      margin: 0;
    }
    .highlight {
      background-color: #f8f9fa;
      padding-left: 1rem;
      padding-right: 1rem;
      border-top: 1px solid #eee;
    }
    code.hljs {
      background-color: transparent;
    }
  </style>

  {% include '../../modules/navbar/navbar.twig' %}

  <div class="demo">

    <div class="container">

      <div class="row">
        <div class="col-sm-3">
          <p class="section-title">
            Frontie Webpack
            <small>
<a href="https://github.com/tomaszbujnowicz/frontie-webpack">GitHub</a>
            </small>
          </p>
        </div>
        <div class="col-sm-9">
          <div class="section">
            <p>
              This is just a demo page.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <p class="section-title">
            Headings
          </p>
        </div>
        <div class="col-sm-9">
          <div class="section">
            {# This is Twig Comment #}
            {# This is sample for loop written in Twig.js #}
            {% for i in 1..6 %}
              <h{{i}}>Responsive Headline {{ i }}</h{{i}}>
            {% endfor %}
            <div class="highlight">
              <pre><code class="html">
&lt;h1&gt;Responsive Headline 1&lt;/h1&gt;
&lt;h2&gt;Responsive Headline 2&lt;/h2&gt;
&lt;h3&gt;Responsive Headline 3&lt;/h3&gt;
&lt;h4&gt;Responsive Headline 4&lt;/h4&gt;
&lt;h5&gt;Responsive Headline 5&lt;/h5&gt;
&lt;h6&gt;Responsive Headline 6&lt;/h6&gt;
              </code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <p class="section-title">
            Paragraph
          </p>
        </div>
        <div class="col-sm-9">
          <div class="section">
            <p>
              Lorem ipsum dolor sit amet, consectetur sample link adipisicing elit. Dolores explicabo architecto perferendis ut nemo! Sapiente, eum quidem placeat, blanditiis, maiores, labore.
            </p>
            <p>
              <a href="#">Sample link</a>
            </p>
            <p>
              You can use the mark tag to <mark>highlight</mark> text.
            </p>
            <p>
              <s>This line of text is meant to be treated as no longer accurate.</s>
            </p>
            <p>
              <u>This line of text will render as underlined</u>
            </p>
            <p>
              <strong>This line rendered as bold text.</strong>
            </p>
            <p>
              <em>This line rendered as italicized text.</em>
            </p>

            <div class="highlight">
              <pre><code class="html">
&lt;p&gt;
  Lorem ipsum dolor sit amet, consectetur sample link adipisicing elit. Dolores explicabo architecto perferendis ut nemo! Sapiente, eum quidem placeat, blanditiis, maiores, labore.
&lt;/p&gt;
&lt;p&gt;
  &lt;a href=&quot;#&quot;&gt;Sample link&lt;/a&gt;
&lt;/p&gt;
&lt;p&gt;You can use the mark tag to &lt;mark&gt;highlight&lt;/mark&gt; text.&lt;/p&gt;
&lt;p&gt;&lt;s&gt;This line of text is meant to be treated as no longer accurate.&lt;/s&gt;&lt;/p&gt;
&lt;p&gt;&lt;u&gt;This line of text will render as underlined&lt;/u&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;This line rendered as bold text.&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;This line rendered as italicized text.&lt;/em&gt;&lt;/p&gt;
              </code></pre>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <p class="section-title">
            List
            <small>Unordered</small>
          </p>
        </div>
        <div class="col-sm-9">
          <div class="section">
            <ul>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit
                <ul>
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                </ul>
              </li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
            </ul>
            <div class="highlight">
              <pre><code class="html">
&lt;ul&gt;
  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
  &lt;li&gt;Consectetur adipiscing elit
    &lt;ul&gt;
      &lt;li&gt;Phasellus iaculis neque&lt;/li&gt;
      &lt;li&gt;Purus sodales ultricies&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/li&gt;
  &lt;li&gt;Faucibus porta lacus fringilla vel&lt;/li&gt;
  &lt;li&gt;Aenean sit amet erat nunc&lt;/li&gt;
&lt;/ul&gt;
              </code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <p class="section-title">
            List
            <small>Ordered</small>
          </p>
        </div>
        <div class="col-sm-9">
          <div class="section">
            <ol>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
            </ol>
            <div class="highlight">
              <pre><code class="html">
&lt;ol&gt;
  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
  &lt;li&gt;Consectetur adipiscing elit&lt;/li&gt;
  &lt;li&gt;Integer molestie lorem at massa&lt;/li&gt;
&lt;/ol&gt;
              </code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <p class="section-title">
            List
            <small>Unstyled</small>
          </p>
        </div>
        <div class="col-sm-9">
          <div class="section">
            <ul class="list-unstyled">
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit
                <ul>
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                </ul>
              </li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
            </ul>
            <div class="highlight">
              <pre><code class="html">
&lt;ul class=&quot;list-unstyled&quot;&gt;
  &lt;li&gt;Lorem ipsum dolor sit amet&lt;/li&gt;
  &lt;li&gt;Consectetur adipiscing elit
    &lt;ul&gt;
      &lt;li&gt;Phasellus iaculis neque&lt;/li&gt;
      &lt;li&gt;Purus sodales ultricies&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/li&gt;
  &lt;li&gt;Faucibus porta lacus fringilla vel&lt;/li&gt;
  &lt;li&gt;Aenean sit amet erat nunc&lt;/li&gt;
&lt;/ul&gt;
              </code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <p class="section-title">
            List
            <small>Inline</small>
          </p>
        </div>
        <div class="col-sm-9">
          <div class="section">
            <ul class="list-inline">
              <li class="list-inline__item">Lorem ipsum</li>
              <li class="list-inline__item">Phasellus iaculis</li>
              <li class="list-inline__item">Nulla volutpat</li>
            </ul>
            <div class="highlight">
              <pre><code class="html">
&lt;ul class=&quot;list-inline&quot;&gt;
  &lt;li class=&quot;list-inline__item&quot;&gt;Lorem ipsum&lt;/li&gt;
  &lt;li class=&quot;list-inline__item&quot;&gt;Phasellus iaculis&lt;/li&gt;
  &lt;li class=&quot;list-inline__item&quot;&gt;Nulla volutpat&lt;/li&gt;
&lt;/ul&gt;
              </code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <p class="section-title">
            Bootstrap Grid
            <small><a href="https://getbootstrap.com/docs/4.3/layout/grid/">Docs</a></small>
          </p>
        </div>
        <div class="col-sm-9">
          <div class="section">
            <div class="row">
              <div class="col-sm">
                One of three columns
              </div>
              <div class="col-sm">
                One of three columns
              </div>
              <div class="col-sm">
                One of three columns
              </div>
            </div>
            <div class="highlight">
              <pre><code class="html">
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-sm&quot;&gt;
    One of three columns
  &lt;/div&gt;
  &lt;div class=&quot;col-sm&quot;&gt;
    One of three columns
  &lt;/div&gt;
  &lt;div class=&quot;col-sm&quot;&gt;
    One of three columns
  &lt;/div&gt;
&lt;/div&gt;
              </code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <p class="section-title">
            Bootstrap Responsive Breakpoints
            <small><a href="https://getbootstrap.com/docs/4.3/layout/overview/#responsive-breakpoints">Docs</a></small>
          </p>
        </div>
        <div class="col-sm-9">
          <div class="section">

            <div class="highlight">
              <pre><code class="css">
@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }

@include media-breakpoint-down(xs) { ... }
@include media-breakpoint-down(sm) { ... }
@include media-breakpoint-down(md) { ... }
@include media-breakpoint-down(lg) { ... }

@include media-breakpoint-only(xs) { ... }
@include media-breakpoint-only(sm) { ... }
@include media-breakpoint-only(md) { ... }
@include media-breakpoint-only(lg) { ... }
@include media-breakpoint-only(xl) { ... }

@include media-breakpoint-between(md, xl) { ... }
              </code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <p class="section-title">
            JS Component: Toggle Element
            <small><a href="https://gomakethings.com/how-to-show-and-hide-elements-with-vanilla-javascript/">Docs</a></small>
          </p>
        </div>
        <div class="col-sm-9">
          <div class="section">
            <p>
              <a class="js-toggle" href="#example">Toggle element</a>
            </p>
            <p id="example" class="is-hidden">
              Here's some text we want to toggle visibility of. Let's do it!
            </p>
            <div class="highlight">
              <pre><code class="html">
&lt;p&gt;
  &lt;a class=&quot;js-toggle&quot; href=&quot;#example&quot;&gt;Toggle element&lt;/a&gt;
&lt;/p&gt;
&lt;p id=&quot;example&quot; class=&quot;is-hidden&quot;&gt;
  Here&apos;s some text we want to toggle visibility of. Let&apos;s do it!
&lt;/p&gt;
              </code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <p class="section-title">
            JS Component: Collapse
            <small><a href="https://medium.com/dailyjs/mimicking-bootstraps-collapse-with-vanilla-javascript-b3bb389040e7">Docs</a></small>
          </p>
        </div>
        <div class="col-sm-9">
          <div class="section">
            <div class="collapse collapse-more-1">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident doloribus, eos rem. Nostrum possimus reiciendis, neque iure repudiandae explicabo hic veritatis ad, deleniti provident soluta, facere, voluptates tenetur quae. Maiores!
            </div>
            <p>
              <a
                href="#"
                data-toggle="collapse"
                data-target=".collapse.collapse-more-1"
                data-text-closed="Read More"
                data-text-opened="Read Less">Read More</a>
            </p>
            <div class="highlight">
              <pre><code class="html">
&lt;div class=&quot;collapse collapse-more-1&quot;&gt;
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident doloribus, eos rem. Nostrum possimus reiciendis, neque iure repudiandae explicabo hic veritatis ad, deleniti provident soluta, facere, voluptates tenetur quae. Maiores!
&lt;/div&gt;
&lt;p&gt;
  &lt;a
    href=&quot;#&quot;
    data-toggle=&quot;collapse&quot;
    data-target=&quot;.collapse.collapse-more-1&quot;
    data-text-closed=&quot;Read More&quot;
    data-text-opened=&quot;Read Less&quot;&gt;Read More&lt;/a&gt;
&lt;/p&gt;
              </code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <p class="section-title">
            JS Component: Smooth Scroll
            <small><a href="https://github.com/tsuyoshiwada/sweet-scroll">Docs</a></small>
          </p>
        </div>
        <div class="col-sm-9">
          <div class="section">
            <p>
              <a href="#buttons" data-scroll>Scroll to buttons section</a>
            </p>
            <p>
              <a href="#" data-scroll="0">Scroll to top</a>
            </p>
            <div class="highlight">
              <pre><code class="html">
&lt;a href=&quot;#buttons&quot; data-scroll&gt;Scroll to buttons section&lt;/a&gt;
&lt;div id=&quot;buttons&quot;&gt;Introduction&lt;/div&gt;
...
&lt;a href=&quot;#&quot; data-scroll=&quot;0&quot;&gt;Scroll to top&lt;/a&gt;
              </code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="row" id="buttons">
        <div class="col-sm-3">
          <p class="section-title">
            Component: Buttons
          </p>
        </div>
        <div class="col-sm-9">
          <div class="section">
            <p>
              <a href="#" class="btn btn-sm">Small Button</a>
              <a href="#" class="btn">Default Button</a>
              <a href="#" class="btn btn-lg">Large Button</a>
              <a href="#" class="btn btn-outline">Button Outline</a>
              <a href="#" class="btn btn-link">Link Button</a>
            </p>
            <p>
              <a href="#" class="btn btn-block">Button Block</a>
            </p>
            <div class="highlight">
              <pre><code class="html">
  &lt;a href=&quot;#&quot; class=&quot;btn btn-sm&quot;&gt;Small Button&lt;/a&gt;
  &lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Default Button&lt;/a&gt;
  &lt;a href=&quot;#&quot; class=&quot;btn btn-lg&quot;&gt;Large Button&lt;/a&gt;
  &lt;a href=&quot;#&quot; class=&quot;btn btn-outline&quot;&gt;Button Outline&lt;/a&gt;
  &lt;a href=&quot;#&quot; class=&quot;btn btn-link&quot;&gt;Link Button&lt;/a&gt;
  &lt;a href=&quot;#&quot; class=&quot;btn btn-block&quot;&gt;Button Block&lt;/a&gt;
              </code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <p class="section-title">
            Module: Flickity Carousel
          </p>
        </div>
        <div class="col-sm-9">
          <div class="section">
            {% include '../../modules/carousel/carousel.twig' %}
          </div>
        </div>
      </div>
    </div>

  </div>

  {% include '../components/footer.twig' %}

  <!-- https://highlightjs.org/ -->
  <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll('pre code').forEach((block) => {
        hljs.highlightBlock(block);
      });
    });
  </script>

{% endblock %}
