{% extends '../layouts/default.twig' %}
{% set head_title = 'Sample Page' %}
{% set body_class = '' %}
{% set menu_active = 'sample-page' %}

{% block page %}

  {% include '../../modules/navbar/navbar.twig' %}

  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="section">
          <h1>Headline 1</h1>
          <h2>Headline 2</h2>
          <h3>Headline 3</h3>
          <h4>Headline 4</h4>
          <h5>Headline 5</h5>
          <h6>Headline 6</h6>
        </div>
        <div class="section">
          <h3>Paragraph</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur <a href="#">sample link</a> adipisicing elit. Dolores explicabo architecto perferendis ut nemo! Sapiente, eum quidem placeat, blanditiis, maiores, labore omnis incidunt repellendus suscipit enim sunt libero id obcaecati.
          </p>
          <p>You can use the mark tag to <mark>highlight</mark> text.</p>
          <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
          <p><u>This line of text will render as underlined</u></p>
          <p><strong>This line rendered as bold text.</strong></p>
          <p><em>This line rendered as italicized text.</em></p>
        </div>
        <div class="section">
          <h3>List</h3>
          <ul>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit</li>
            <li>Integer molestie lorem at massa</li>
            <li>Facilisis in pretium nisl aliquet</li>
            <li>Nulla volutpat aliquam velit
              <ul>
                <li>Phasellus iaculis neque</li>
                <li>Purus sodales ultricies</li>
                <li>Vestibulum laoreet porttitor sem</li>
                <li>Ac tristique libero volutpat at</li>
              </ul>
            </li>
            <li>Faucibus porta lacus fringilla vel</li>
            <li>Aenean sit amet erat nunc</li>
            <li>Eget porttitor lorem</li>
          </ul>
          <ol>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit</li>
            <li>Integer molestie lorem at massa</li>
            <li>Facilisis in pretium nisl aliquet</li>
            <li>Nulla volutpat aliquam velit</li>
            <li>Faucibus porta lacus fringilla vel</li>
            <li>Aenean sit amet erat nunc</li>
            <li>Eget porttitor lorem</li>
          </ol>
        </div>
        <div class="section">
          <h3>List unstyled</h3>
          <ul class="list-unstyled">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit</li>
            <li>Integer molestie lorem at massa</li>
            <li>Facilisis in pretium nisl aliquet</li>
            <li>Nulla volutpat aliquam velit
              <ul>
                <li>Phasellus iaculis neque</li>
                <li>Purus sodales ultricies</li>
                <li>Vestibulum laoreet porttitor sem</li>
                <li>Ac tristique libero volutpat at</li>
              </ul>
            </li>
            <li>Faucibus porta lacus fringilla vel</li>
            <li>Aenean sit amet erat nunc</li>
            <li>Eget porttitor lorem</li>
          </ul>
        </div>
        <div class="section">
          <h3>List inline</h3>
          <ul class="list-inline">
            <li class="list-inline__item">Lorem ipsum</li>
            <li class="list-inline__item">Phasellus iaculis</li>
            <li class="list-inline__item">Nulla volutpat</li>
          </ul>
        </div>
        <div class="section">
          <h3>Bootstrap Grid</h3>
          <div class="row">
            <div class="col-sm">
              One of three columns
            </div>
            <div class="col-sm">
              One of three columns
            </div>
            <div class="col-sm">
              One of three columns
            </div>
          </div>
        </div>
        <div class="section">
          <h3>Component: Buttons</h3>
          <p>
            <a href="#" class="btn btn-sm">Small Button</a>
          </p>
          <p>
            <a href="#" class="btn">Default Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-lg">Large Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-outline">Button Outline</a>
          </p>
          <p>
            <a href="#" class="btn btn-link">Link Button</a>
          </p>
          <p>
            <a href="#" class="btn btn-block">Button Block</a>
          </p>
        </div>
        <div class="section">
          <h3>Module: Flickity Carousel</h3>
          {% include '../../modules/carousel/carousel.twig' %}
        </div>        
      </div>
    </div>
  </div>

  {% include '../components/footer.twig' %}

{% endblock %}
