/**
 * Font Size
 */

.text-xs {
  font-size: .75rem;
}
.text-sm {
  font-size: .875rem;
}
.text-base {
  font-size: $font-size-base;
}
.text-lg {
  font-size: 1.125rem;
}
.text-xl {
  font-size: 1.25rem;
}
.text-xxl {
  font-size: 1.5rem;
}
