/**
 * Font Weight
 */

.font-weight-hairline {
  font-weight: 100;
}
.font-weight-thin {
  font-weight: 200;
}
.font-weight-light {
  font-weight: 300;
}
.font-weight-normal {
  font-weight: 400;
}
.font-weight-medium {
  font-weight: 500;
}
.font-weight-semibold {
  font-weight: 600;
}
.font-weight-bold {
  font-weight: 700;
}
.font-weight-extrabold	{
  font-weight: 800;
}
.font-weight-black {
  font-weight: 900;
}
