/**
 * Spacing
 * Utilities for controlling an element's padding and margin.
 * Based on https://github.com/tailwindcss/tailwindcss
 */

@mixin make-space($values, $prefixes, $grid-breakpoints) {
  @each $breakpoint-name, $breakpoint-value in $grid-breakpoints {
    // xs
    @if ($breakpoint-value == 0) {
      @each $attr-short, $attr-long in $prefixes {
        @each $value-short, $value-long in $values {
          .#{$attr-short}-#{$value-short} {
            #{$attr-long}: #{$value-long};
          }
        }
      }
    }
    // sm, md, lg, xl
    @else {
      @media screen and (min-width: $breakpoint-value) {
        @each $attr-short, $attr-long in $prefixes {
          @each $value-short, $value-long in $values {
            .#{$breakpoint-name}-#{$attr-short}-#{$value-short} {
              #{$attr-long}: #{$value-long};
            }
          }
        }
      }
    }
  }
}

@if $use-spacing {

  @include make-space($space-values, $space-prefixes, $grid-breakpoints);

  .mr-auto {
    margin-right: auto;
  }
  .ml-auto {
    margin-left: auto;
  }
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

}
