/**
 * Text Colors
 */

.text-default {
  color: $body-color;
}
.text-white {
  color: $white;
}
.text-black {
  color: $black;
}

.text-primary {
  color: $primary;
}
.text-secondary {
  color: $secondary;
}
.text-success {
  color: $success;
}
.text-error {
  color: $error;
}
