/**
 * Variables
 */

// Colors
$primary: #007bff;

// Fonts
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 1rem;
$line-height-base: 1.5;
$body-color: #222;

// Transition
$transition-base: all .2s ease-in-out;

// Paragraph
$paragraph-margin-bottom: 1rem;

// Headings
$headings-margin-bottom: 1rem;
$headings-font-family: $font-family;
$headings-font-weight: 500;
$headings-line-height: inherit;
$headings-color: inherit;

// Headings Font Size
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

// Links
$link-color: #007bff;
$link-decoration: none;
$link-hover-color: darken($link-color, 20%);
$link-hover-decoration: underline;
