/**
 * Colors
 */

$body-color: #222 !default;

$white: #fff !default;
$black: #000 !default;

$primary: #007bff !default;
$secondary: #7f19e6 !default;

$success: #00b300 !default;
$error: #c00 !default;
