/**
 * Spacing
 * Used by Utility _spacing.scss
 */

$space-0:     0 !default;
$space-0-25:  .25rem !default;
$space-0-5:   .5rem !default;
$space-0-75:  .75rem !default;
$space-1:     1rem !default;
$space-2:     2rem !default;
$space-3:     3rem !default;
$space-4:     4rem !default;
$space-5:     5rem !default;
$space-6:     6rem !default;
$space-7:     7rem !default;
$space-8:     8rem !default;
