/**
 * Spaces
 * We use it for Utility _spacing
 */

$space-0: 0 !default;
$space-1: .5rem !default;
$space-2: 1rem !default;
$space-3: 1.5rem !default;
$space-4: 2rem !default;
$space-5: 4rem !default;
