/**
 * Aspect Ratio
 *
 * Usage:
 * @include responsive-ratio(16,9);
 * @include responsive-ratio(4,3);
 */

@mixin aspect-ratio($x,$y, $pseudo: false) {
  $padding: unquote(($y / $x) * 100 + '%');
  @if $pseudo {
    &:before {
      @include pseudo($pos: relative);
      width: 100%;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}
