<p>
  <a href="#" role="button" data-search-overlay-trigger>Trigger</a>
</p>
<div class="search-overlay is-hidden" data-search-overlay-target>
  <a href="#" role="button" class="search-overlay__close" data-search-overlay-close>x</a>
  <form action="" class="search-overlay__form">
    <input class="search-overlay__input" type="text" name="q" id="" placeholder="Search..." data-search-overlay-input>
    <button class="search-overlay__btn btn btn-link">
      Search
    </button>
  </form>
</div>
