<p>
  <a href="#" role="button" data-js="search-trigger">
    Open an overlay
  </a>
</p>
<div class="search-overlay is-hidden" data-js="search-target">
  <a href="#" role="button" class="search-overlay__close" data-js="search-close">x</a>
  <form action="" class="search-overlay__form">
    <input class="search-overlay__input" type="text" name="q" id="" placeholder="Search..." data-js="search-input">
    <button class="search-overlay__btn btn btn-link">
      Search
    </button>
  </form>
</div>
